.centered {
  text-align: center;
}

.upvote.active,
.downvote.active {
  background-color: #ccc;
}

.chats-container {
  /*max-height: 4em;*/
  /*overflow: scroll;*/
}

.chat-from {
  color: purple;
}

.filter-active {
  background-color:aliceblue;
}
