/* purple: #6441a4 */
/* black: #222 */
/* gray: #555 */
/* default_spacing: 2em */

body {
  color: #222;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1em;
  color: #555;
}

button {
	border: 1px solid #6441a4;
	border-radius: 4px;
	background: #fff;
	color: #6441a4;
	padding: 0.75em;
	transition: all 0.2s ease;
	cursor: pointer;
	text-transform: uppercase;
}

button:hover,
button:active,
button:focus,
button.active {
  background: #6441a4;
  color: #fff;
}

.centered {
  text-align: center;
}

.upvote.active,
.downvote.active {
  background-color: #ccc;
}

.video-list {
  padding: 2em;
}

.video-container {
  padding: 2em;
  border: 1px solid red;
}

.video-container + .video-container {
  margin-top: 2em;
}

.video {
  background: #000;
  overflow: hidden;
}

.video-preview {
  filter: blur(5px);
}

.chats-container {
  border: 1px solid blue;
  max-height: 100%;

  overflow: scroll;
  position: relative;
}

.chats-container-inner {
  border: 1px solid green;
  /*position: fixed;*/
  bottom: 0;
}

.chat-from {
  color: purple;
}

.filter-active {
  background-color: #6441a5;
}

.chat-header {
  margin: 0;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}
