.centered {
  text-align: center;
}

.upvote.active,
.downvote.active {
  background-color: #ccc;
}

.chats-container {
  overflow: scroll;
}

.chat-from {
  color: purple;
}

.filter-active {
  background-color: #6441a5;
}

.chat-header {
  margin: 0;
}

.streamer-game {
  margin-top: 0;
}

.stream-title {
  margin-top: 10px;
}

.row {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
